.page {
  height: 100%;
}

.page__body {
  margin: 0;
  font-family: $regular-font;
  font-size: 26px;
  line-height: 30px;
  color: $text-color;
  background-image: url("../../image/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $background-color;

  @media (max-width: $tablet-width) {
    background-image: url("../../image/bg-tablet.jpg");
  }
}
