@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/roboto/Roboto-Bold.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  height: 100%;
}

.page__body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 26px;
  line-height: 30px;
  color: #f7ead0;
  background-image: url("../image/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00665e;
}
@media (max-width: 1049px) {
  .page__body {
    background-image: url("../image/bg-tablet.jpg");
  }
}

.container {
  width: 1200px;
  margin: 30px auto;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: rgba(0, 102, 94, 0.9);
}
@media (max-width: 1049px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 460px;
    margin: 0 auto;
    padding: 20px;
  }
}

.table {
  width: 1120px;
  border-spacing: 5px;
  border-collapse: collapse;
}
@media (max-width: 1049px) {
  .table {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .table__data--none {
    display: none;
  }
}

.table__title {
  padding: 10px;
  font-family: "Roboto Bold", "Arial", sans-serif;
  color: #ffcfab;
  border-bottom: 1px solid #ffcfab;
}
@media (max-width: 1049px) {
  .table__title {
    font-size: 20px;
  }
}
@media (max-width: 1049px) {
  .table__title {
    font-size: 16px;
  }
}

.table__row-head {
  border-bottom: 3px solid #ffcfab;
}
@media (max-width: 1049px) {
  .table__row-head {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .table__row-head {
    font-size: 14px;
  }
}

.table__data-head {
  padding: 10px;
}
@media (max-width: 1049px) {
  .table__data-head {
    padding: 0;
  }
}

.table__data-head--width {
  width: 225px;
}
@media (max-width: 1049px) {
  .table__data-head--width {
    width: 123px;
  }
}
@media (max-width: 767px) {
  .table__data-head--width {
    width: 92px;
  }
}

.table__quality {
  color: #d5ba35;
}

.table__sprint {
  color: #e2816c;
}

.table__row {
  border-bottom: 1px solid #ffcfab;
  background-color: rgba(111, 59, 46, 0.4);
}
.table__row:nth-child(2n) {
  background-color: rgba(188, 120, 101, 0.4);
}
.table__row:nth-child(17) {
  border: 3px solid #cd2524;
  background-color: #0e2849;
}
.table__row:hover {
  background-color: #bc7865;
}
@media (max-width: 1049px) {
  .table__row {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .table__row {
    font-size: 14px;
  }
}

.table__row--bahrain,
.table__row--saudi-srabia,
.table__row--australia,
.table__row--japan,
.table__row--china,
.table__row--usa-miami,
.table__row--italy-imola,
.table__row--monaco,
.table__row--canada,
.table__row--spain,
.table__row--austria,
.table__row--britain,
.table__row--hungary,
.table__row--belgium,
.table__row--netherlands,
.table__row--italy-monza {
  position: relative;
}
.table__row--bahrain:hover,
.table__row--saudi-srabia:hover,
.table__row--australia:hover,
.table__row--japan:hover,
.table__row--china:hover,
.table__row--usa-miami:hover,
.table__row--italy-imola:hover,
.table__row--monaco:hover,
.table__row--canada:hover,
.table__row--spain:hover,
.table__row--austria:hover,
.table__row--britain:hover,
.table__row--hungary:hover,
.table__row--belgium:hover,
.table__row--netherlands:hover,
.table__row--italy-monza:hover {
  background-color: transparent;
}
.table__row--bahrain::after,
.table__row--saudi-srabia::after,
.table__row--australia::after,
.table__row--japan::after,
.table__row--china::after,
.table__row--usa-miami::after,
.table__row--italy-imola::after,
.table__row--monaco::after,
.table__row--canada::after,
.table__row--spain::after,
.table__row--austria::after,
.table__row--britain::after,
.table__row--hungary::after,
.table__row--belgium::after,
.table__row--netherlands::after,
.table__row--italy-monza::after {
  content: "";
  position: absolute;
  width: 1070px;
  height: 5px;
  top: 20px;
  left: 15px;
  background-color: #8f1313;
}
@media (max-width: 1049px) {
  .table__row--bahrain::after,
  .table__row--saudi-srabia::after,
  .table__row--australia::after,
  .table__row--japan::after,
  .table__row--china::after,
  .table__row--usa-miami::after,
  .table__row--italy-imola::after,
  .table__row--monaco::after,
  .table__row--canada::after,
  .table__row--spain::after,
  .table__row--austria::after,
  .table__row--britain::after,
  .table__row--hungary::after,
  .table__row--belgium::after,
  .table__row--netherlands::after,
  .table__row--italy-monza::after {
    width: 650px;
  }
}
@media (max-width: 767px) {
  .table__row--bahrain::after,
  .table__row--saudi-srabia::after,
  .table__row--australia::after,
  .table__row--japan::after,
  .table__row--china::after,
  .table__row--usa-miami::after,
  .table__row--italy-imola::after,
  .table__row--monaco::after,
  .table__row--canada::after,
  .table__row--spain::after,
  .table__row--austria::after,
  .table__row--britain::after,
  .table__row--hungary::after,
  .table__row--belgium::after,
  .table__row--netherlands::after,
  .table__row--italy-monza::after {
    top: 12px;
    width: 390px;
  }
}

.table__data {
  padding: 7px;
  text-align: center;
}
@media (max-width: 767px) {
  .table__data {
    padding: 0;
  }
}

.table__data--bold {
  font-weight: 700;
  color: #ffcfab;
}
@media (max-width: 767px) {
  .table__data--bold {
    font-weight: 400;
  }
}

.table__row:hover .table__data--bold {
  color: #f7ead0;
}

.table__row:hover span {
  color: #f7ead0;
}/*# sourceMappingURL=style.css.map */